.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-color {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70%;
  width: 175px;
  height: 175px;
}

.banner-text {
  background-color: white;
  opacity: 1;
  width: 75%;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 30px;
  font-weight: bold;
  color: #3e4042;
  align-self: center;
  padding: 10px;
}
.banner-text h2 {
  font-size: 20px;
  font-weight: bold;
  color: #515457;
  padding-left: 10px;
}

.banner-text p {
  font-weight: normal;
  color: #515457;
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.resume-box {
  background-color: white;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.resume-about { 
  background-color: #535f75;
  opacity: 1;
  width: 100%;
}

.resume-about h4 {
  margin-top: 10px;
}

.resume-list {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}

.about-left { 
  background-color: #535f75;
  opacity: 1;
  width: 100%;
}

.about-right { 
  background-color: white;
  opacity: 1;
  width: 100%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 1%;
  margin: auto;
}

.social-links i {
  color: #535f75;
  font-size: 2.5em;
  padding: 8px;
}

.project-card-deck .card-group .card {
  min-width: 12rem;
  max-width: 12rem;
}

.contact-text {
  background-color: white;
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.contact-text h2 {
  font-size: 30px;
  font-weight: bold;
  color: #3e4042;
  padding-left: 10px;
}

.contact-text p {
  color: #515457;
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: auto;
}


